body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader.hidden {
  display: none;
}

.load-button.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  height: 40px;
}

button:hover {
  background-color: #6c8cff;
}

img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

ul.gallery {
  width: 1148px;
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

li.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.image-stats {
  display: flex;
  justify-content: space-evenly;
  gap: 28px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.js-lightbox {
  background-color: #2e2f42;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 371px;
  height: 40px;
  margin: 0 auto;
}

.search-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
}

.search-form input:hover {
  border-color: #000;
}

.search-form input:focus,
.search-form input:active {
  outline: none;
  border-color: #808080;
}

.search-form button {
  width: 86px;
}

input {
  font-family: inherit;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 8px;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-button {
  display: block;
  margin: 0 auto;
}
